.about-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(20, 116, 116);
    color: rgba(245, 245, 245, 0.664);
    box-shadow: 10px 10px 5px black;
    margin: 50px;

}

.about-content {
    width: 100%;
    text-align: center;
    box-shadow: 10px 5px 5px 5px;
    border-radius: 1.2rem;
    border: 1px solid transparent;
}

.about-content p {
    margin: 2rem;
    font-weight: 500;
}

.see-more {
    margin-bottom: 2rem;
}

.see-more-btn {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    outline: inherit;
    padding: 0;
}