.about-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(20, 116, 116);
    color: rgba(245, 245, 245, 0.664);
    box-shadow: 10px 5px 5px 5px rgb(210, 255, 212);
    margin: 50px;
    border-radius: 1rem;

}

.about-content {
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-radius: 1.2rem;
    border: 1px solid transparent;
}

.about-content p {
    margin: 2rem;
    font-weight: 500;
}

.see-more {
    margin-bottom: 2rem;
}