#contact {
    background-image: url(../images/Contact_Pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -4px 3px 15px 17px rgba(194,194,194,1);
    width: 55%;
    justify-items: center;
    border-radius: 100px;
    background-size: 100% 100%;
    display: inline-block;
    margin-top: 0rem;
}

.container.contact__container {
    display: grid;
    margin:  auto;
}

.contact__options {
    display: flex;
    gap: 2rem;
    justify-content: right;
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;
    margin: 1rem;
    margin-right: 3rem;
}

.contact__option {
    background-color: rgb(20, 116, 116);
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    width: fit-content;
    box-shadow: 10px 5px 5px 5px rgb(210, 255, 212);
}

.contact__option-icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

.profile-name {
    color: var(--color-bg-variant);
}
/* =============== FORM ================== */

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;

}

.btn {
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
}

::placeholder {
    color: var(--color-light)
}


/* =========== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

}

/* =========== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
    .container.contact__container {
        display: flex;
        flex-direction: column;
        width: var(--container-width-sm);
    }

    .contact__options {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        justify-content: center;
        align-items: center;
        opacity: 1;
    }

    #contact {
        background: none;
        box-shadow: none;
    }
}