.my-photo {
    height: 500px;
    width: 750px;
    border-radius: 200px;
    box-shadow: -4px 3px 15px 17px rgba(194,194,194,1);
    animation: mover 1s infinite alternate;

}

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.profile-name {
  color: rgb(2, 69, 9);
  animation-name: spin;
  animation-timing-function: 2.5s;
  animation-iteration-count: 1;
  animation-duration: 4s;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}




.software-engineer span {
  animation: anim-flipX  2s infinite;
  animation-delay: calc(.2s * var(--i));
  animation-iteration-count: 2;
}

@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    color: indianred;
    transform: rotateX(720deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(720deg);
  }
}

.header__container {
  color: black;
  font-weight: 600;
}

.profile-name {
  font-size: 400%;
}

.my-photo-container {
  padding-bottom: 2rem;
  /* animation: fadeIn 5s; */
}

/* @keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: .5; }
  100% { opacity: 1; }
} */


/* =========== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1024px) {
  .my-photo {
    height: 500px;
    width: 650px;
    border-radius: 25px;
    box-shadow: -4px 3px 15px 17px rgba(194,194,194,1);
}
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
  .my-photo {
    height: 60%;
    width: 90%;
    border-radius: 25px;
    box-shadow: -4px 3px 15px 17px rgba(194,194,194,1);
}
}