.my-photo {
    height: 500px;
    width: 750px;
    border-radius: 25px;
    box-shadow: -4px 3px 15px 17px rgba(194,194,194,1);
}

.profile-name {
  color: rgb(2, 69, 9);
}

.header__container {
  color: black;
  font-weight: 600;
}

.profile-name {
  font-size: 400%;
}

.my-photo-container {
  padding-bottom: 2rem;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ============== */
/* @media screen and (max-width: 1024px) {
  .my-photo {
    height: 500px;
    width: 650px;
    border-radius: 25px;
    box-shadow: -4px 3px 15px 17px rgba(194,194,194,1);
}
} */

/* =========== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
  .my-photo {
    height: 60%;
    width: 90%;
    border-radius: 25px;
    box-shadow: -4px 3px 15px 17px rgba(194,194,194,1);
}
}