.nav-bar {
    float: left;
    display: grid;
    margin-top: 10vh;
    position: absolute;
    z-index: 99;
}

.nav-bar > button {
    margin: 1.5rem;
    padding: .5rem;
    background: rgb(10, 68, 68);
    border-radius: 25px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.nav-bar >button:hover {
    background: rgb(6, 41, 41);
    transform: scale(1.05);
}

.nav-bar > button > a {
    color: rgb(44, 238, 238);
    font-family: 'BioRhyme';
}

@media screen and (max-width: 600px) {
    .nav-bar {
        margin-top: 20vh;
    }
    .nav-bar > button {
        margin: .5rem;
        padding: .5rem;
    }
    
}